body {
  font-family: serif, Century Gothic, 'Arial Narrow', Arial;
}

/* Full-width input fields */
input[type=text], input[type=password],input[type=number] option{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
}
#tblComplaintDetails th{
  text-align: right;
}
#tblComplaintDetails tr{
  border: none;
  background-color: whitesmoke;
}
#container{
  border: 1px solid black;
  text-align: center;
  padding: 16px;
  background-color: whitesmoke;
}
.divFooter{
  background-color: #4069c2;
  color: #fff2ba;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  font-size: 1vh;
  border-collapse: collapse;
}
.divHeader{
  background-color: #ffda7d;
  background-color: rgba(255, 218, 125,0.5);
  color: #334F7D;
  text-align: center;
  position: fixed;
  width: 100%;
  height:auto;
  top: 0;
  right: 0;
  font-size: 2vh;
  border-collapse: collapse;
  overflow: visible;
  padding: 0;
  margin: 0;
}
.inputInvalid{
  border: 1px solid red;
  display: block;
}
.divDispatchModalStyle{
  border:1px solid #AAA;
  padding: 2%;
  width:49%;
  height: 400px;
  overflow: auto;
  position:relative
}
input[type=text]:disabled, input[type=password]:disabled{
  width: 100%;
  padding: 6px 6px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
  background-color: #eee;
}
input[type=text]:focus, input[type=password]:focus{
  background-color: #ddd;
  outline: none;
  border-radius: 1em;
}
select{
  height: 20px;
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
  background-color: #eee;
}
textarea{
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
}
.textfield{
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-sizing: border-box;
}
.textfield:disabled{opacity: .8;
}

a {
  cursor: pointer;
}
.divDispatchModalStyle{
  border:1px solid #AAA;
  padding: 2%;
  width:49%;
  height: 400px;
  overflow: auto;
  position:relative
}


.detailsLabels{
  font-size: 12px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.div4Table, .div4TableEmp{
  overflow: auto;
}
fieldset{
  margin-bottom: 20px;
}

.cSearch{
  clear: both;
  display: inline-block;
}

.selected, .selected:nth-child(even){
  background-color: teal;
    color: #FFF;
}

#divIdTblComplaint{
  border-radius: .5em;
  border: 1px solid #666;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #666;
  text-align: center;
  table-layout: auto;
  word-wrap : break-word;
}

th, td {
  text-align: left;
  padding: 8px;
  font-size: 10px;
  cursor: pointer;
}

tr:nth-child(even){background-color: #e8e8e8}

.divBtn{
  width: 100%;
  text-align: center ;
  display: block;
}

.divLogin, #divBillList{
  margin:2%;
  width: 80%;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  opacity: .9;
  width: auto; 
  text-align: left; 
  overflow-x:auto;
}


#divTicket{
  width:90%;
  text-align:left;
  display: block;
  padding:10px;
  margin: 0px auto;
  border: 3px solid rgb(0, 66, 128);
  clear: both;
  background-color: white;
}

#divSubmitMessage{
  width:80%;
  text-align:center ;
  padding:10px;
  margin: 0% auto;
  margin-top: 1%;
  color: #71a682;
  border: 3px solid #71a682;
  clear: both;
  background-color: #e8ffef;
}

.classDescription{
  width:100%;
  resize:none;
}

div #divLogout {
  text-align: center;
}

#divTicket h1 {
  text-align: center ;
}

li{
  list-style: none;
}

.liBack{
  float:left; width:100%;
}

.liLogout{
  float: right; width:100%;
}

#fname,#lname,#mname {
  width: auto;
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.logoimg{
  width:100%;
  clear:both;
  text-align: center;
}
#logotitle{
  width: 10vh;
  height: 10vh;
}
/* Set a style for all buttons */

button{
  font-family: serif;
  background-color: #4c80f1;
  border-color: #0E2F44;
  color: rgb(228, 255, 108);
  padding: 7px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 1.5vh;
}

.mainBtn{
  background-color: #4c80f1;
  border: 1px solid #0000ff;
  border-radius: 1em;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: auto;
}
.mainBtn2{
  background-color: black;
  border: 1px solid #0E2F44;
  border-radius: 1em;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: auto;
}
.mainBtn2:disabled{
  opacity: 0.8;
  border-radius: 1em;
  background-color: black;
  border: 1px solid #0E2F44;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: auto;
}
.mainBtn:disabled{
  border-color: #0E2F44;
  opacity: 0.8;
  border: 1px solid #00008c;
  border-radius: 1em;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
button:hover {
  opacity: 0.8;
}

.error {
	width: 90%;
  margin: 10px auto;
  padding: 16px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
  padding-left: 5%;
}

.success{
	width:100%;
  margin: 0px auto;
  padding: 2%;
  border: 1px solid #42a979;
  color: #42a979;
  background: #e8f8ea;
  border-radius: 5px;
  text-align: left;
}

.success p{
  padding-left: 5%;
}

/* Extra styles for the cancel button */
.cancelbtn {
  background-color: #f44336;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}
.clscontainer{
  text-align: center;
  position: relative;
  width: 100%;
}
img.avatar {
  width: 10%;
  border-radius: 50%;
}

/* Div */
.titleHeader {
  height: 100px;
  line-height: 100px;
}
/* Span */
.headerText   {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

#logout{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btnContainer{
  width:90%;
  text-align:left;
  display: block;
  padding:10px;
  margin: 0px auto;
  border: 3px solid rgb(0, 66, 128);
  clear: both;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 1% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #888;
  width:90%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 1%;
  top: auto;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

.refresh{
  position: absolute;
  right: 1%;
  top: auto;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.refresh:hover, .refresh:focus {
  color: red;
  cursor: pointer;
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
  text-align: left;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
