body {font-family: 'Century Gothic';}

/* Full-width input fields */
input[type=text], input[type=password],input[type=number] option{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=text]:disabled, input[type=password]:disabled{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: #eee;
}
fieldset{
  margin-bottom: 20px;
}
.cSearch{
  clear: both;
  float: left;
  display: inline-block;
}
.selected, .selected:nth-child(even){
  background-color: teal;
    color: #FFF;
}
#divIdTblComplaint{
  border-radius: .5em;
  border: 1px solid #666;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #666;
  text-align: center;
  table-layout: fixed;
  word-wrap : break-word;
}

th, td {
  text-align: left;
  padding: 8px;
  font-size: 10px;
  cursor: pointer;
}

tr:nth-child(even){background-color: #e8e8e8}

.divBtn{
  width: 100%;
  text-align: center;
  display: block;
}
.divLogin{
  margin:auto;
  width: 80%;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: white;
  margin-top: 5%;
}
#divTicket{
  width:90%;
  text-align:left;
  display: block;
  padding:10px;
  margin: 0px auto;
  border: 3px solid rgb(0, 66, 128);
  clear: both;
  background-color: white;
}

#divSubmitMessage{
  width:90%;
  text-align:center ;
  padding:10px;
  margin: 0% auto;
  color: #71a682;
  border: 3px solid #71a682;
  clear: both;
  background-color: #e8ffef;
}

.classDescription{
  width:100%;
  resize:none;
}

div #divLogout {
  text-align: center;
}

#divTicket h1 {
  text-align: center ;
}

li{
  list-style: none;
}

.liBack{
  float:left; width:100%;
}

.liLogout{
  float: right; width:100%;
}

#fname,#lname,#mname {
  width: auto;
  display: inline-block;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */

/* button{
  background-color: #4c80f1;
  color: rgb(228, 255, 108);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
} */

.mainBtn{
  background-color: #4c80f1;
  color: rgb(228, 255, 108);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
.mainBtn:disabled{
  opacity: 0.8;
  color: rgb(228, 255, 108);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}
button:hover {
  opacity: 0.8;
}

.error {
	width: 92%;
  margin: 10px auto;
  padding: 16px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}

.success{
	width:80%;
  margin: 0px auto;
  padding: 5px;
  border: 1px solid #425aa9;
  color: #425aa9;
  background: #dee3f2;
  border-radius: 5px;
  text-align: left;
}

.success h5{
  padding-left: 10%;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 30%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

#logout{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btnContainer{
  text-align: center;
  padding: .5%;
  margin: 0px auto;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width:90%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #6babff;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
