/* Show it is fixed to the top */
body {
  min-height: 100rem;
  padding-top: 4.5rem;
}

/* table {
  border-style: none;
  border-radius: 1vh;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #666;
  text-align: center;
  table-layout: auto;
  word-wrap : break-word;
} */